---
import PROFESSIONS from "@gw2-ui/data/professions";
import Profession from "../gw2-ui/Profession.astro";
import Link from "../Link.astro";
import Tooltip from "../Tooltip.astro";
const { build, specialization } = Astro.props;

// Record<ProfessionTypes, EliteSpecTypes[]>
const profession = Object.entries(PROFESSIONS).find(
  ([_, specs]) => specs.indexOf(specialization) > -1
)[0];

const link = `/builds/${profession}/${build.replace(/ /g, "-")}`.toLowerCase();
---

<Tooltip className="inline">
  <Link slot="target" href={link} className="inline">
    <Profession name={specialization} disableLink text={build + " 🡢"} />
  </Link>

  <span slot="tooltip">Go to build</span>
</Tooltip>

<style></style>
