---
import "discretize-ui/react-discretize-components/src/styles/defaultTheme.css";
const id = Math.random().toString(16).slice(2);
const { characters } = Astro.props;

// enrich data with escaped ids
characters.forEach((title, index) => {
  characters[index] = {
    title,
    id: `#page_${title
      .toLowerCase()
      .replaceAll(" ", "")
      .replaceAll(/\/|[^a-zA-Z0-9]+/gm, "")}`,
  };
});
---

<script define:vars={{ id }}>
  function setActiveTab() {
    const pages = document.querySelectorAll(`[id='${id}'] .page`);
    pages[0].classList.add("active");
  }
  document.addEventListener("DOMContentLoaded", (event) => {
    setActiveTab();
  });
</script>

<script src="beercss/dist/cdn/beer.min.js"></script>

<div id={id}>
  <div class="tabs left-align row">
    {
      characters.map((character, index) => (
        <a data-ui={character.id} class={index === 0 ? "active" : ""}>
          {character.title}
        </a>
      ))
    }
    <div class="max"></div>
    <button class="small">Peepoptimizer</button>
    <button class="transparent circle small">
      <i>info</i>
    </button>
  </div>
  <noscript>To display the character, please enable JavaScript :)</noscript>

  <slot />
</div>
