---
import "discretize-ui/react-discretize-components/src/styles/defaultTheme.css";
import { Icon } from "astro-icon";
import Peepoptimizer from "./peepoptimizer/Peepoptimizer";

const id = Math.random().toString(16).slice(2);
const { characters } = Astro.props;

// enrich data with escaped ids
characters.forEach((title, index) => {
  characters[index] = {
    title,
    id: `#page_${title
      .toLowerCase()
      .replaceAll(" ", "")
      .replaceAll(/\/|[^a-zA-Z0-9]+/gm, "")}`,
  };
});
---

<script define:vars={{ id }}>
  function setActiveTab() {
    const pages = document.querySelectorAll(`[id='${id}'] .page`);
    pages[0].classList.add("active");
  }
  document.addEventListener("DOMContentLoaded", (event) => {
    setActiveTab();
  });
</script>

<div id={id}>
  <div class="tabs left-align row">
    {
      characters.map((character, index) => (
        <a data-ui={character.id} class={index === 0 ? "active" : ""}>
          {character.title}
        </a>
      ))
    }
    <div class="max"></div>
    <a data-ui="#peepoptimizer">Peepoptimizer</a>
    <button class="transparent circle small">
      <Icon pack="mdi" name="information" />
    </button>
  </div>
  <noscript>To display the character, please enable JavaScript :)</noscript>

  <slot />

  <div class="page" id="peepoptimizer"><Peepoptimizer client:idle /></div>
</div>

<style>
  .tabs {
    margin-bottom: 1rem;
  }
</style>
