---
import "discretize-ui/react-discretize-components/src/styles/defaultTheme.css";
import { Icon } from "astro-icon";
import Peepoptimizer from "./peepoptimizer/Peepoptimizer";

const id = Math.random().toString(16).slice(2);
const { characters } = Astro.props;

// enrich data with escaped ids
characters.forEach((title, index) => {
  characters[index] = {
    title,
    id: `#page_${title
      .toLowerCase()
      .replaceAll(" ", "")
      .replaceAll(/\/|[^a-zA-Z0-9]+/gm, "")}`,
  };
});
---

<script define:vars={{ id }}>
  function setActiveTab() {
    const pages = document.querySelectorAll(`[id='${id}'] .page`);
    pages[0].classList.add("active");
  }
  document.addEventListener("DOMContentLoaded", (event) => {
    setActiveTab();
  });
</script>

<div id={id}>
  <div class="tabs left-align row charactertabs">
    {
      characters.map((character, index) => (
        <a data-ui={character.id} class={index === 0 ? "active" : ""}>
          {character.title}
        </a>
      ))
    }
    <div class="max"></div>
    <a data-ui="#peepoptimizer" class="m l">Peepoptimizer</a>
    <button
      class="transparent circle small"
      aria-label="Information for Peepoptimizer"
      class="m l"
    >
      <Icon pack="mdi" name="information" class="m l" />
    </button>
  </div>
  <noscript>To display the character, please enable JavaScript :)</noscript>

  <slot />

  <div class="page m l" id="peepoptimizer">
    <Peepoptimizer client:visible />
  </div>
</div>

<style>
  .tabs {
    margin-bottom: 1rem;
    flex-wrap: wrap !important;
  }
  @media (max-width: 768px) {
    .tabs {
      gap: 0.1rem !important;
    }
  }
</style>
