---
import Layout from "../../../layouts/Layout.astro";

import itemMapping from "../../../utils/remark/remark-mdx-gw2ui/mapping/items.json";
---

<Layout seo={{}}>
    <h1>ID Helper</h1>

    awaiting implementation
</Layout>
