---
import { CalculatorUI } from "src/components/augmentations/CalculatorUI";
import Layout from "src/layouts/Layout.astro";
---

<Layout seo={{ title: "Augmentations Calculator" }}>
  <h1>Augmentations Calculator</h1>

  <CalculatorUI client:visible />
</Layout>
