.augSettingsList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.augSettingsList li {
  margin-top: 0.8rem;
}
.augSettingsList li * {
  font-size: 1.1rem;
}



.augCalcTextInput {
  margin-top: 1.2rem !important;
  margin-bottom: 0 !important;
}
.augCalcInputContainer {
  margin: 4rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--surface);
}

@media (max-width: 900px) {
  .augCalcInputContainer {
    margin: 1rem;
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .augCalcInputContainer {
    margin: 0.5rem;
  }
}

.resultHeading {
  margin-bottom: 0;
  color: var(--primary)
}

.resultContainer {
  max-width: 434px;
  margin: 0 auto;
}

.rightAlign {
  text-align: right;
}