---
import discord from "../../icons/discord.svg";
import Discretize from "../../icons/discretize.astro";
import NavBuilds from "./NavBuilds.astro";
import NavDropdown from "./NavDropdown.astro";
import DarkModeSwitch from "./DarkModeSwitch.astro";
import NavButton from "./NavButton.astro";
import type { EliteSpecTypes, ProfessionTypes } from "@gw2-ui/data/professions";

async function getBuilds() {
  // load markdown files and return the frontmatter
  const builds = await Astro.glob("../../../discretize-guides/builds/**/*.mdx");

  const navigationData = builds.map((build) => ({
    title: build.frontmatter.title,
    rating: build.frontmatter.rating,
    profession: build.frontmatter.profession as ProfessionTypes,
    specialization: build.frontmatter.specialization as EliteSpecTypes,
    url: build.url.replace("discretize-guides", "").replace("/index.mdx", ""),
  }));

  const data = {};
  navigationData.forEach((build) => {
    if (!data[build.profession]) {
      data[build.profession] = [];
    }
    data[build.profession].push(build);
  });

  return data;
}

async function getGuides() {
  // load markdown files and return the frontmatter
  const guides = await Astro.glob("../../../discretize-guides/guides/**/*.mdx");

  const navigationData = guides.map((guide) => ({
    title: guide.frontmatter.title,
    url: guide.url.replace("discretize-guides", "").replace("/index.mdx", ""),
  }));

  return navigationData;
}

const builds = await getBuilds();
const guides = await getGuides();
---

<div class="topArea row">
  <a href="/"><Discretize className="discretizeLogo" /></a>
  <div class="max"></div>

  <DarkModeSwitch />
</div>
<nav class="nav">
  <div class="lowerArea">
    <div class="buttonArea row">
      <NavBuilds builds={builds} />
      <NavDropdown title="Guides" content={guides} slug="/guides" />
      <NavButton>Fractals</NavButton>
      <NavButton>Augmentation Calculator</NavButton>
      <div class="max"></div>

      <button class="border circle">
        <img class="discordIcon" src={discord.src} alt="discord" />
      </button>
    </div>
  </div>
</nav>

<style>
  .nav {
    position: sticky;
    margin-top: 0 !important;
    top: 0px;

    background-color: #2a2c31;
    z-index: 10;
    margin-bottom: 0.5rem;
  }
  .topArea {
    background-color: #2f3136;
    max-height: 4rem;
    padding: 2rem 0rem;
    max-width: 1400px;
    margin: 0 auto;
  }
  @media (max-width: 1400px) {
    .topArea {
      padding: 2rem 1rem;
    }
  }
  .buttonArea {
    width: 100%;
    gap: 2.2rem;
    max-width: 1400px;
    margin: 0 auto;
  }
  .lowerArea {
    border: 5px solid var(--primary);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: 100%;
  }

  .discordIcon {
    width: 2rem;
    height: 2rem;
  }
  .discretizeLogo {
    height: 3rem;
  }
</style>
