---
import { Profession } from "@gw2-ui/components";
import type { EliteSpecTypes, ProfessionTypes } from "@gw2-ui/data/professions";
import { Icon } from "astro-icon";
import NavButton from "./NavButton.astro";

interface Props {
  builds: Record<
    ProfessionTypes,
    {
      title: string;
      url: string;
      specialization: ProfessionTypes | EliteSpecTypes;
    }[]
  >;
}

const { builds } = Astro.props;
---

<ul class="nested-dropdowns">
  <li>
    <NavButton href="/builds" class="buttonMenu">Builds</NavButton>
    <ul>
      {
        Object.keys(builds).map((profession) => (
          <li>
            <div class="wave buttonProfession row no-margin">
              <Profession
                name={profession as ProfessionTypes}
                client:load
                disableLink
                style={{ whiteSpace: "nowrap" }}
              />
              <div class="max" />
              <i>
                <Icon name="mdi:chevron-right" />
              </i>
            </div>

            <ul>
              {builds[profession].map((build) => (
                <li>
                  <a href={build.url}>
                    <div class="buttonProfession wave row no-margin">
                      <Profession
                        name={build.specialization}
                        client:load
                        disableLink
                        disableText
                        style={{ whiteSpace: "nowrap" }}
                      />

                      {build.title}
                    </div>
                  </a>
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
  </li>
</ul>

<style>
  .buttonMenu {
    margin: 0;
  }
  .buttonProfession {
    padding: 0.6rem;
    font-size: 1rem;
  }
  .nested-dropdowns {
    /* Border */
    display: flex;

    /* Reset list styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nested-dropdowns li {
    cursor: pointer;

    /* Used to position the sub nested-dropdowns */
    position: relative;
  }

  /* The sub nested-dropdowns */
  .nested-dropdowns ul {
    /* Hidden by default */
    display: none;

    /* Absolute position */
    left: 0;
    position: absolute;
    top: 100%;

    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;

    background-color: var(--background);

    box-shadow: var(--elevate2);
  }

  /* The second level sub nested-dropdowns */
  .nested-dropdowns ul ul {
    left: 100%;
    position: absolute;
    top: 0;
  }

  /* Change background color of list item when being hovered */
  .nested-dropdowns li:hover {
  }

  /* Show the direct sub nested-dropdowns when hovering the list item */
  .nested-dropdowns li:hover > ul {
    display: block;
  }
</style>

<style is:global>
  body:has(> .nested-dropdowns li) .main {
    opacity: 0.5;
    transition: all 0.7s ease;
  }
</style>
