---
import Layout from "../layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
import hero1 from "../assets/images/hero_arkkarena.jpg";
import heroShattered from "../assets/images/hero_sunqua2.jpg";
import Discretize from "src/icons/discretize.astro";
import Link from "src/components/Link.astro";
import { Icon } from "astro-icon";
import Button from "src/components/html-components/button.astro";
---

<script>
  const guildButton = document.getElementById("buttonGuild");
  guildButton.addEventListener("click", () => {
    //scroll down 100vh
    window.scrollBy({
      top: window.innerHeight,
      left: 0,
      behavior: "auto",
    });
  });
</script>

<Layout seo={{}} disablePadding={true} disableBackgroundImage={true}>
  <div class="landingPage relative">
    <div class="shadowBg"></div>
    <div class="logo">
      <Discretize color="fill-white" />
      <p class="subtext">International high-end GW2 fractal guild</p>
      <span class="flex justify-center gap-4">
        <Button id="buttonGuild">
          <span class="flex">
            Guild <Icon name="mdi:arrow-down" className="ml-4" height="1rem" />
          </span>
        </Button>

        <Link href="/builds" className="">
          <Button>
            <span class="flex">
              Builds
              <Icon
                name="mdi:format-list-bulleted"
                className="ml-4"
                height="1rem"
              />
            </span>
          </Button>
        </Link>
      </span>
    </div>
    <div class="heroImageWrapper first">
      <Picture
        src={hero1}
        sizes="(max-width: 3840px) 100vw, 3840px"
        widths={[3840, 1920, 720, 480]}
        aspectRatio="16:9"
        alt="Background Hero Image"
        class="heroImage"
      />
    </div>
    <div class="squigglyDown">
      <span class="squigglyDownArrow">Down</span>
    </div>
  </div>

  <div class="page2 relative">
    <div class="heroImageWrapper">
      <Picture
        src={heroShattered}
        sizes="(max-width: 3840px) 100vw, 3840px"
        widths={[3840, 1920, 720, 480]}
        aspectRatio="16:9"
        alt="Background Hero Image"
        class="heroImage"
      />
    </div>
    <div class="shadowBg"></div>

    <div class="aboutText">
      <p>
        Welcome to Discretize, the premier high-end fractal guild for the Guild
        Wars 2 community. Since 2017, we have been dedicated to sharing our
        knowledge and expertise to help players of all skill levels excel in
        fractals and discover new depths of gameplay.
      </p>
      <p>
        Our infamous roster of top-tier players is a beacon for the fractal
        community, and we pride ourselves on providing detailed builds, guides,
        and resources that are invaluable for both new players and veterans
        alike. Through our work, we strive to encourage a more well-informed
        player base, sparking innovation and progress within the community.
      </p>
      <p>
        Join us and discover why Discretize is the go-to guild for those seeking
        to master fractals in Guild Wars 2.
      </p>
    </div>
  </div>
</Layout>

<style>
  [id="buttonGuild"] {
    cursor: pointer;
  }
  .landingPage {
    text-align: center;
    justify-content: center;
  }
  .subtext {
    font-weight: 500;
    font-size: 1.4rem;
    color: #dddddd;
    margin-bottom: 1rem;
  }
  .logo {
    max-width: 650px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
  }
  .logo .chip {
    color: #dddddd;
  }
  .aboutText {
    color: #dddddd;
    position: absolute;
    max-width: 700px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  @media (max-width: 600px) {
    .aboutText {
      padding: 1rem;
      left: 0;
      transform: translate(0, -50%);
    }
  }
  .aboutText p {
    margin-bottom: 2rem;
  }
  .shadowBg {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    position: absolute;

    z-index: 1;
    inset: 0;
  }
  .heroImage {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
  }
  .heroImageWrapper {
    width: 100%;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
    border-bottom: 2px solid #1e2124;
  }
  .first {
    height: calc(100vh - 64px - 66px);
  }
  @media (max-width: 1000px) {
    .first {
      height: calc(100vh - 64px);
    }
    .logo {
      padding: 0.5rem;
    }
  }

  @keyframes downarrow {
    0% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 0.4;
    }

    100% {
      -webkit-transform: translateY(0.4em);
      -moz-transform: translateY(0.4em);
      -ms-transform: translateY(0.4em);
      transform: translateY(0.4em);
      opacity: 0.9;
    }
  }
  .squigglyDown {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }
  .squigglyDownArrow {
    border-color: transparent;
    border-style: solid;
    border-width: 0 1.5em;
    display: block;
    height: 0;
    margin: 1.5em auto;
    opacity: 0.4;
    text-indent: -9999px;
    transform-origin: 50% 50%;
    width: 0;
    animation: downarrow 0.6s infinite alternate ease-in-out;
    border-top: 2em solid #00cccc;
  }
</style>
