---
import Layout from "../layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
import heroArkk from "../assets/images/hero_arkkarena.jpg";
import heroShattered from "../assets/images/hero_shattered-observatory.jpg";
---

<Layout title="Welcome to Astro." disablePadding={true}>
  <main>
    <div class="heroImageWrapper first">
      <Picture
        src={heroArkk}
        sizes="(max-width: 3840px) 100vw, 3840px"
        widths={[3840, 1920, 720, 480]}
        aspectRatio="16:9"
        alt="Background Hero Image"
        class="heroImage"
      />
    </div>

    <div class="heroImageWrapper">
      <Picture
        src={heroShattered}
        sizes="(max-width: 3840px) 100vw, 3840px"
        widths={[3840, 1920, 720, 480]}
        aspectRatio="16:9"
        alt="Background Hero Image"
        class="heroImage"
      />
    </div>
  </main>
</Layout>

<style>
  .heroImage {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
  }
  .heroImageWrapper {
    width: 100%;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
    border-bottom: 2px solid #1e2124;
  }
  .first {
    height: calc(100vh - 64px - 66px);
  }
</style>
