---
import Tooltip2 from "./Tooltip2.astro";
---

<script>
  const urlSearchParams = new URLSearchParams(window.location.search);

  let isBeginner = true;

  if (urlSearchParams.get("variant") === "advanced") {
    isBeginner = false;
  }

  const switchBeginner = document.getElementById(
    "switchBeginner"
  ) as HTMLInputElement;
  const switchAdvanced = document.getElementById(
    "switchAdvanced"
  ) as HTMLInputElement;

  if (switchBeginner && switchAdvanced) {
    const beginner = document.querySelectorAll<HTMLDivElement>(".beginner");
    const advanced = document.querySelectorAll<HTMLDivElement>(".advanced");

    function setState(isAdvanced: boolean) {
      window.history.replaceState(
        {},
        "",
        `${window.location.pathname}?variant=${
          isAdvanced ? "advanced" : "beginner"
        }`
      );
      isBeginner = !isAdvanced;

      if (isAdvanced) {
        beginner.forEach((entry) => (entry.style.display = "none"));
        advanced.forEach((entry) => (entry.style.display = "block"));
      } else {
        beginner.forEach((entry) => (entry.style.display = "block"));
        advanced.forEach((entry) => (entry.style.display = "none"));
      }
    }

    setState(!isBeginner);
    if (isBeginner) {
      switchBeginner.checked = true;
    } else {
      switchAdvanced.checked = true;
    }

    switchBeginner.addEventListener("click", (e: Event) => {
      setState(false);
    });
    switchAdvanced.addEventListener("click", (e: Event) => {
      setState(true);
    });
  }
</script>

<div class="join">
  <Tooltip2>
    <input
      id="switchBeginner"
      class="join-item btn btn-sm embossed"
      type="radio"
      name="options"
      aria-label="Simplified"
      slot="target"
    />
    <span slot="tooltip">
      Focusing on the important information with <br />
      safer gear and build options for newer players
    </span>
  </Tooltip2>
  <Tooltip2>
    <input
      id="switchAdvanced"
      class="join-item btn btn-sm !rounded-r-lg embossed"
      type="radio"
      name="options"
      aria-label="Detailed"
      slot="target"
    />
    <span slot="tooltip">
      In depth information with multiple gear and build options <br />
      for players who want to optimize their gameplay
    </span>
  </Tooltip2>
</div>
