---
export interface Props {
  title: string;
  body: string;
  href: string;
  specialization?: string;
}

const { title, specialization } = Astro.props;
---

<article class="card">
  {
    (title || specialization) && (
      <div>
        <h4 class="cardTitle">{title || specialization}</h4>
        <div class="delimiter" />
      </div>
    )
  }

  <slot />
</article>

<style>
  .card {
    margin-bottom: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cardTitle {
    margin-bottom: 0.3rem;
    font-weight: 500;
  }
  .delimiter {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--primary);
    max-width: 350px;
  }
</style>
