---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { title } = Astro.props;
---

<article class="card">
  <p class="title">{title}</p>
  <slot />
</article>
<style>
  .card {
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .title {
    font-size: 1.5rem;
    text-decoration: underline;
  }
</style>
