---
interface Props {
  icon?: string;
}

const { icon = "information" } = Astro.props;
---

<article class="information">
  <div class="row">
    <i class="icon">{icon}</i>
    <div class="max">
      <p><slot /></p>
    </div>
  </div>
</article>

<style>
  .icon {
    font-size: 3rem;
    width: 3rem;
  }
  .information {
    margin-bottom: 2rem;
  }
</style>
