---
import { Icon } from "astro-icon";
import Card from "./Card.astro";

interface Props {
  icon?: string;
}

const { icon = "mdi:information" } = Astro.props;
---

<Card>
  <div class="flex max-md:flex-col gap-4 items-center">
    <Icon name={icon} height="3rem" width="3rem" class="flex-none" />
    <div>
      <slot />
    </div>
  </div>
</Card>
