---
import { Icon } from "astro-icon";

interface Props {
  icon?: string;
}

const { icon = "mdi:information" } = Astro.props;
---

<article class="information">
  <div class="row outer">
    <Icon name={icon} height="3rem" />
    <div class="max">
      <p><slot /></p>
    </div>
  </div>
</article>

<style>
  @media (max-width: 600px) {
    .outer {
      display: flex;
      flex-direction: column;
    }
  }
  .information {
    margin-bottom: 2rem;
  }
</style>
