---
import { Icon } from "astro-icon";

interface Props {
  icon?: string;
}

const { icon = "mdi:information" } = Astro.props;
---

<article class="information">
  <div class="row">
    <Icon name={icon} height="3rem" />
    <div class="max">
      <p><slot /></p>
    </div>
  </div>
</article>

<style>
  .information {
    margin-bottom: 2rem;
  }
</style>
