<div class="box-outer">
  <span class="inner"><slot /></span>
</div>

<style>
  .box-outer {
    padding: 8px;
  }
  .inner {
    font-family: Muli;
    font-weight: 500;
    font-size: 0.8571428571428571rem;
    line-height: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #1e2124;
    color: var(--on-background);
    display: inline-block;
    background-color: var(--inverse-surface);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
</style>
