---
import { Icon } from "astro-icon";
import { TEXT } from "src/styles";

interface Props {
  href: string;
  label?: string;
  className?: string;
  disablePrefetch?: boolean;
  enableDecoration?: boolean;
}

const {
  href,
  label,
  className,
  disablePrefetch = true,
  enableDecoration = false,
} = Astro.props;

const isInternal = !href.startsWith("http");
let finalClassName = className || "";

const linkProps = {
  href,
  target: isInternal ? undefined : "_blank",
  rel: isInternal ? "prefetch" : "noopener noreferrer nofollow",
};

if (disablePrefetch && isInternal) {
  linkProps.rel = "";
}

if (enableDecoration) {
  finalClassName += ` text-blue-500 hover:underline`;
}

finalClassName = finalClassName.trim();
---

<a {...linkProps} aria-label={label} class={finalClassName}>
  <slot />
  {
    enableDecoration && !isInternal ? (
      <Icon name="mdi:link-variant" class="inline-flex" size="0.8em" />
    ) : undefined
  }
</a>
