---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  label?: string;
  className?: string;
  disablePrefetch?: boolean;
  enableDecoration?: boolean;
}

const {
  href,
  label,
  className,
  disablePrefetch = true,
  enableDecoration = false,
} = Astro.props;

const isInternal = !href.startsWith("http");

const linkProps = {
  href,
  target: isInternal ? undefined : "_blank",
  rel: isInternal ? "prefetch" : "noopener noreferrer nofollow",
};

if (disablePrefetch && isInternal) {
  linkProps.rel = "";
}
---

<a
  {...linkProps}
  aria-label={label}
  class:list={[
    "whitespace-nowrap",
    className,
    { "text-blue-500": enableDecoration, "hover:underline": enableDecoration },
  ]}
>
  <slot />
  {
    enableDecoration && !isInternal ? (
      <Icon name="mdi:link-variant" class="inline-flex" size="0.8em" />
    ) : undefined
  }
</a>
