---
const { title, isFirst, specialization } = Astro.props;
---

<div
  class={`content padding ${isFirst ? "" : "hidden"}`.trim()}
  id={`page_${(title || specialization)
    ?.toLowerCase()
    .replaceAll(/\/|[^a-zA-Z0-9]+/gm, "")}`}
>
  <div class="page-content [&>p]:!mb-0">
    <slot />
  </div>
</div>
