---
const { title, isFirst, specialization, uid } = Astro.props;
---

<div
  class={`page padding ${isFirst ? "active" : ""}`.trim()}
  id={`page_${uid}_${(title || specialization)
    ?.toLowerCase()
    .replaceAll(/\/|[^a-zA-Z0-9]+/gm, "")}`}
>
  <div class="page-content">
    <slot />
  </div>
</div>
