---
const { className } = Astro.props;
---

<div class={`group relative w-max ${className || ""}`}>
  <slot name="target" />
  <span
    class={`text-zinc-50 pointer-events-none bg-black p-2 text-xs absolute -top-8 left-0 w-max opacity-0 transition-opacity group-hover:opacity-100`}
  >
    <slot name="tooltip" />
  </span>
</div>
