---
import { Picture } from "@astrojs/image/components";
import { OutputFormat } from "@astrojs/image/dist/loaders";

const { src, caption, ...attrs } = Astro.props;

const formats: OutputFormat[] = ["avif", "webp", "jpeg"];
---

<script>
  let isEnhanced = false;

  // attach on click listener to image

  for (const img of document.querySelectorAll("img")) {
    if (!img.classList.contains("maximizable")) continue;
    img.addEventListener("click", () => {
      if (isEnhanced) {
        img.classList.remove("maximized");
        document.body.style.overflow = "auto";
      } else {
        img.classList.add("maximized");
        document.body.style.overflow = "hidden";
      }
      isEnhanced = !isEnhanced;
    });
  }
</script>

<figure>
  <span class="imgWrapper">
    <Picture
      src={src}
      widths={[400, 800, 1200]}
      {...attrs}
      alt={caption}
      formats={formats}
      loading={"lazy"}
      class="maximizable"
      sizes="(max-width: 400px) 10vw, (max-width: 800px) 50vw, 100vw"
    />
  </span>
  <figcaption class="text-sm m-0 text-center pt-1 px-2">{caption}</figcaption>
</figure>

<style>
  figure {
    margin-bottom: 1rem;
  }
  img,
  picture :global(img),
  svg {
    border-radius: 4px;
    width: 100%;
  }

  .imgWrapper {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 627px;
  }

  img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }

  .maximized {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    object-fit: contain;
    object-position: center;
    z-index: 1000;
    cursor: zoom-out;

    background-color: rgba(0, 0, 0, 0.5);
  }
</style>
