<div
  class="overflow-x-auto mb-4 shadow-xl border-stone-900 border-[1px] rounded-lg h-fit"
>
  <table class="table w-full border-collapse border-spacing-0 font-normal">
    <slot />
  </table>
</div>
