<td><slot /></td>

<style>
  td {
    border-bottom: 1px solid var(--overlay);
    padding: 1rem !important;
  }
  @media (max-width: 900px) {
    td {
      display: block;
      width: auto;
      border-bottom: none;
      padding: 4px 24px;
    }
  }
</style>
