@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl sm:text-5xl mb-4;
  }
  h2 {
    @apply text-3xl sm:text-4xl mb-4;
  }
  h3 {
    @apply text-2xl sm:text-3xl mb-4;
  }
  h4 {
    @apply text-2xl mb-4;
  }
  h5 {
    @apply text-xl mb-4;
  }
  body {
    @apply text-base;
  }
  * > p {
    @apply mb-4;
  }

  * > p + ol,
  * > p + ul {
    @apply !-mt-2;
  }
  /* * > p:last-child {
    @apply mb-0;
  } */
  ol li p,
  ul li p {
    @apply inline;
  }

  tr {
    @apply border-b-neutral-700 border-b-[0.1rem] last:border-b-0;
  }

  th {
    @apply font-bold text-xs text-start px-4;
  }

  td {
    @apply p-4;
  }

  ul {
    @apply list-disc list-outside ml-4 pl-4;
  }
  ul:not(ul ul) {
    margin-bottom: 1rem;
  }

  code {
    @apply py-[2px] px-[6px] border border-solid border-gray-900 rounded-md shadow-sm text-base;
  }

  tbody {
    @apply table-row-group;
  }
}

@layer components {
  .embossed {
    @apply dark:bg-[#26292e] bg-neutral-100;
  }
  .border-warrior-main {
    border-color: var(--gw2-color-warrior-main);
  }
  .boder-elementalist-main {
    border-color: var(--gw2-color-elementalist-main);
  }
  .table :where(th, td) {
    white-space: inherit;
  }
  .btn-sm {
    @apply h-8 min-h-full;
  }

  @media (min-width: 600px) {
    blockquote {
      margin-left: 24px;
      margin-right: 24px;
    }
  }
  blockquote {
    border-left: 2px solid #00cccc;
    padding: 16px;
    margin: 16px 16px;
  }

  pre {
    @apply p-4 bg-gray-800 rounded shadow mb-4;
  }

  pre :global(code) {
    box-shadow: none !important;
    border: none;
    border-style: none;
    border-width: 0 !important;
    padding: 0 !important;
    white-space: pre-wrap;
  }
}
