---
import Profession from "../gw2-ui/Profession.astro";
import TextDivider from "../TextDivider.astro";
import Label from "../Label.astro";
import { Icon } from "astro-icon";
import { EliteSpecTypes, ProfessionTypes } from "@gw2-ui/data/professions";

export interface Props {
  title: string;
  specialization: EliteSpecTypes;
  role: string;
  hasBeginner: boolean;
  date: string;
  hidden?: boolean;
  rating: string;
  profession: ProfessionTypes;
  boons: {
    name: string;
    uptime: string;
    variant: string;
  }[];
  code: string;
  cmGuide?: string;
  uptodate?: {
    guide?: boolean;
    gear?: boolean;
  };
}

const {
  title,
  specialization,
  role,
  hasBeginner,
  date,
  cmGuide,
  uptodate: { guide = true, gear = true } = {},
} = Astro.props;
---

<script>
  // get nanostore
  import { isBeginner } from "../../state/beginner";

  const switchElement = document.querySelector<HTMLInputElement>(
    "[id='switchBeginner']"
  );
  if (switchElement) {
    switchElement.addEventListener("change", (e: InputEvent) => {
      isBeginner.set(!e.target.checked);
    });
  }
</script>

<div class="flex items-center mb-2">
  <div class="flex flex-grow">
    <Profession disableLink disableText name={specialization} size="big" />
    <div class="ml-4 self-center">
      <h1 class="mb-2">{title}</h1>
      <p>{role}</p>
    </div>
  </div>
  <Label className="!p-2">
    <ul>
      <li class="flex">
        <Icon name="mdi:calendar-range" height="0.8rem" class="mr-2" />
        {new Date(date).toLocaleDateString()}
      </li>
    </ul>
  </Label>
</div>

<div class="flex items-center gap-4 mb-4">
  <span>Gear: {!gear ? "not" : ""} updated</span>
  <span class="flex-grow">Guide: {!gear ? "not" : ""} updated</span>

  {
    cmGuide && (
      <button class="btn btn-primary ">
        <a href={cmGuide} target="_blank" rel="noopener noreferrer">
          CM Guide
        </a>
      </button>
    )
  }

  {
    hasBeginner && (
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text mr-4">Advanced mode</span>
          <input
            id="switchBeginner"
            type="checkbox"
            class="checkbox"
            aria-label="Switch between Beginner and Advanced"
          />
        </label>
      </div>
    )
  }
</div>
<TextDivider text="Overview" />
