---
import Profession from "../gw2-ui/Profession.astro";
import TextDivider from "../TextDivider.astro";
import Label from "../Label.astro";
import { Icon } from "astro-icon";

const { title, specialization, role, hasBeginner, date } =
  Astro.props.frontmatter;
---

<script>
  // get nanostore
  import { isBeginner } from "../../state/beginner";

  const switchElement = document.querySelector<HTMLInputElement>(
    "[id='switchBeginner']"
  );
  if (switchElement) {
    switchElement.addEventListener("change", (e: InputEvent) => {
      isBeginner.set(!e.target.checked);
    });
  }
</script>

<div class="row header">
  <div class="left max">
    <Profession disableLink disableText name={specialization} size="big" />
    <div class="headline">
      <h2>{title}</h2>
      <p>{role}</p>
    </div>
  </div>
  <div>
    <Label className="additionalPadding">
      <ul>
        <li>
          <Icon name="mdi:calendar-range" height="0.8rem" />
          {new Date(date).toLocaleDateString()}
        </li>
      </ul>
    </Label>
  </div>
</div>

<TextDivider text="Overview" />

{
  hasBeginner && (
    <div>
      Beginner
      <label class="switch">
        <input
          type="checkbox"
          id="switchBeginner"
          aria-label="Switch between Beginner and Advanced"
        />
        <span />
      </label>
      Advanced
    </div>
  )
}

<style>
  .header {
    font-family: Raleway;
    line-height: 1.2;
    margin-bottom: 2rem;
    align-items: flex-start !important;
    flex-wrap: wrap !important;
  }
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
    }
  }
  .header p {
    font-family: Muli;
  }
  .header ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .icon {
    font-size: 0.8rem;
  }
  .left {
    display: flex;
  }
  .headline {
    margin-left: 1rem;
    align-self: center;
  }
  .additionalPadding {
    padding: 8px !important;
  }
</style>
