---
import Profession from "../gw2-ui/Profession.astro";
import TextDivider from "../TextDivider.astro";
import Label from "../Label.astro";
import { Icon } from "astro-icon";

const { title, specialization, role, hasBeginner, date } =
  Astro.props.frontmatter;
---

<script>
  // get nanostore
  import { isBeginner } from "../../state/beginner";

  const switchElement = document.querySelector<HTMLInputElement>(
    "[id='switchBeginner']"
  );
  if (switchElement) {
    switchElement.addEventListener("change", (e: InputEvent) => {
      isBeginner.set(!e.target.checked);
    });
  }
</script>

<div class="flex items-center mb-2">
  <div class="flex flex-grow">
    <Profession disableLink disableText name={specialization} size="big" />
    <div class="ml-4 self-center">
      <h1>{title}</h1>
      <p>{role}</p>
    </div>
  </div>
  <Label className="p-2">
    <ul>
      <li class="flex">
        <Icon name="mdi:calendar-range" height="0.8rem" class="mr-2" />
        {new Date(date).toLocaleDateString()}
      </li>
    </ul>
  </Label>
</div>

<TextDivider text="Overview" />

{
  hasBeginner && (
    <div>
      Beginner
      <label class="switch">
        <input
          type="checkbox"
          id="switchBeginner"
          aria-label="Switch between Beginner and Advanced"
        />
        <span />
      </label>
      Advanced
    </div>
  )
}
