---
import TextDivider from "../TextDivider.astro";
import Label from "../Label.astro";
import { Icon } from "astro-icon";

export interface Props {
  title: string;
  author?: string;
  date: string;
  priority?: number;
  description?: string;
}

const { title, author, date } = Astro.props;
---

<div class="flex items-center mb-2">
  <div class="flex flex-grow">
    <div class="self-center">
      <h1>{title}</h1>
    </div>
  </div>
  <Label className="!p-2">
    <ul>
      <li class="flex">
        <Icon name="mdi:calendar-range" height="0.8rem" class="mr-2" />
        {new Date(date).toLocaleDateString()}
      </li>
      {
        author && (
          <li class="flex">
            <>
              <Icon name="mdi:human" height="0.8rem" class="mr-2" />
              <span>{author}</span>
            </>
          </li>
        )
      }
    </ul>
  </Label>
</div>

<TextDivider text="Guide" />
