body {
    line-height: 1.5;
    font-size:17.4px;
}

h1 {
    font-size: 3.05em;
}

h2 {
    font-size: 2.44em;
}

h3 {
    font-size: 1.95em;
}

h4 {
    font-size: 1.56em;
}

h5 {
    font-size: 1.25em;
}